*.iml
.gradle
/local.properties
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyleSettings.xml
/.idea/codeStyles
/.idea/libraries
/.idea/caches
/build
/captures
.externalNativeBuild

.DS_Store

/versions
